<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>

    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Student Packages</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="back-search">
                                <input type="text" id="f_title" placeholder="Search By Title" class="form-control filter_input" >
                                <select class="form-control filter_input" id="f_class">
                                <option value="">Select Class</option>
                                <option *ngFor="let class of classes" value="{{ class.id }}">{{ class.title }}</option>
                                </select>
                                <select class="form-control filter_input" id="f_subjects">
                                <option value="">Select Subject</option>
                                <option *ngFor="let subject of subjects" value="{{ subject.id }}">{{ subject.title }}</option>
                                </select>
                                <select class="form-control filter_input" id="f_board">
                                <option value="">Select Board</option>
                                <option *ngFor="let board of boards" value="{{ board.id }}">{{ board.title }}</option>
                                </select>
                                <select type="text" id="f_duration_days"  class="form-control filter_input">
                                    <option value="">Duration</option>
                                    <option value="1">1 Day</option>
                                    <option value="2">2 Days</option>
                                    <option value="5">5 Days</option>
                                    <option value="10">10 Days</option>
                                    <option value="15">15 Days</option>
                                    <option value="20">20 Days</option>
                                    <option value="25">25 Days</option>
                                    <option value="30">30 Days</option>
                                    <option value="45">45 Days</option>
                                    <option value="60">60 Days</option>
                                </select>
                                <a (click)="searchData()" style="margin-right:10px;" id="searchStudentBtn" class="btn btn-info">Search</a>
                                <a (click)="reset()" style="margin-right:10px;" class="btn btn-info">Reset</a>
                                <a  (click)="exportCSV()" style="margin-right:10px;" id="exportBtn" class="btn btn-info">Export CSV</a>
                                <a routerLink="/add-student-package" class="btn btn-info">Add New Package </a>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="paging_bootstrap pagination">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive widthFixed">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="62px">S No.</th>
                                            <th width="183px">Category</th>
                                            <th width="183px">Type</th>
                                            <th width="283px">Title</th>
                                            <th width="283px">Title Mobile</th>
                                            <th width="183px">Price</th>
                                            <th width="72px">Status</th>
                                            <th width="153px">Actions</th>
                                            <th width="153px">Clone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let package of packages | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ; let i = index" [attr.data-index]="i" class="odd">
                                            <td>{{ package?.id }}.</td>
                                            <td>{{ package?.category }} | {{ package?.child }}</td>
                                            <td>{{package.tution_hour}} {{ package?.type }} | {{package.duration_days}} Days</td>
                                            <td>{{ package?.heading }}</td>
                                            <td>{{ package?.title }}</td>
                                            <td>₹{{ package?.price }}</td>
                                            <td>
                                                <a style="cursor:pointer" (click)="updateStatus(package.id,'2')" *ngIf="package.status == 1" class="btn-round active"><img src="assets/images/right-tick.png"></a>
                                                <a style="cursor:pointer" (click)="updateStatus(package.id,'1')" *ngIf="package.status == 2" class="btn-round"><img src="assets/images/cross-icon.png"></a>
                                            </td>
                                            <td>
                                                <a [routerLink]="['/edit-student-package/', package.id  ]" class="action-btn"><span><img src="assets/images/edit-icon.png"></span></a>
                                                <a style="cursor:pointer" (click)="deleteUser(package.id)" class="action-btn"><span><img src="assets/images/delete-icon.png"></span></a>
                                            </td>
                                            <td><a  (click)="cloneAction(package.id)" id="exportBtn" class="btn btn-info">Clone</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right bottom-paging">
                            <div class="paging_bootstrap pagination">
                                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
