<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>

    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Appointments ({{total}}) | Total: {{total_record}} | Reg Done: {{reg_done}} | Reg Pending: {{need_call}}</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="back-search">
                                <input type="text" id="title" placeholder="Search By Phone" class="form-control filter_input" >
                                <select id="need_call" class="form-control filter_input">
                                    <option value="">Need Call</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                                <select id="f_data_city" class="form-control filter_input">
                                    <option value="">Apply City</option>
                                    <option *ngFor="let franchise of franchises" value="{{franchise.id}}">{{franchise.title}}</option>
                                  </select>
                                <a (click)="searchData()" style="margin-right:10px;" id="searchStudentBtn" class="btn btn-info">Search</a>
                                <a (click)="reset()" style="margin-right:10px;" class="btn btn-info">Reset</a>
                                <a  (click)="exportCSV()" id="exportBtn" class="btn btn-info">Export CSV</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="paging_bootstrap pagination">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive widthFixed">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="62px">S No.</th>
                                            <th width="62px">Token</th>
                                            <th width="62px">Apply City</th>
                                            <th width="183px">Name</th>
                                            <th width="372px">Contact</th>
                                            <th width="372px">Appointment Date</th>
                                            <th width="372px">Time Slot</th>
                                            <th width="372px">Need Call</th>
                                            <th width="372px">Created Date</th>
                                            <th width="153px">Edit</th>
                                            <th width="153px">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let appintment of appintments | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ; let i = index" [attr.data-index]="i" class="odd">
                                            <td>{{ i+1 }}.</td>
                                            <td>{{ appintment?.token }}</td>   
                                            <td>{{ appintment?.f_city }}</td>                                          
                                            <td>{{ appintment?.name }}</td>
                                            <td>{{ appintment?.contact }}</td>
                                            <td>{{ appintment?.appointment_date }}</td>
                                            <td>{{ appintment?.time_slot }}</td>
                                            <td>{{ appintment?.need_follow_up }}</td>
                                            <td>{{ appintment?.created }}</td>
                                            <td>
                                                <a [routerLink]="['/view-appointment-data/', appintment.id  ]" class="action-btn"><span><img src="assets/images/edit-icon.png"></span></a>
                                            </td>
                                            <td>
                                                <a style="cursor:pointer" (click)="deleteUser(appintment.id)" class="action-btn"><span><img src="assets/images/delete-icon.png"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right bottom-paging">
                            <div class="paging_bootstrap pagination">
                                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
