<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>

    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Board</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="back-search">
                                <input type="text" id="title" placeholder="Search By Title" class="form-control filter_input" >
                                <a (click)="searchData()" style="margin-right:10px;" id="searchStudentBtn" class="btn btn-info">Search</a>
                                <a (click)="reset()" style="margin-right:10px;" class="btn btn-info">Reset</a>
                                <a routerLink="/add-board" class="btn btn-info">Add Board</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <div class="paging_bootstrap pagination">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive widthFixed">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="62px">S No.</th>                                            
                                            <th width="283px">Title</th>
                                            <th width="283px">State</th>
                                            <th width="283px">City</th>
                                            <th width="72px">Status</th>
                                            <th width="153px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let board of boards | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total } ; let i = index" [attr.data-index]="i" class="odd">
                                            <td>{{ i+1 }}.</td>
                                            <td>{{ board?.title }}</td>
                                            <td>{{ board?.state }}</td>
                                            <td>{{ board?.city }}</td>
                                            <td>
                                                <a style="cursor:pointer" (click)="updateStatus(board.id,'2')" *ngIf="board.status == 1" class="btn-round active"><img src="assets/images/right-tick.png"></a>
                                                <a style="cursor:pointer" (click)="updateStatus(board.id,'1')" *ngIf="board.status == 2" class="btn-round"><img src="assets/images/cross-icon.png"></a>
                                            </td>
                                            <td>
                                                <a [routerLink]="['/edit-board/', board.id  ]" class="action-btn"><span><img src="assets/images/edit-icon.png"></span></a>
                                                <a style="cursor:pointer" (click)="deleteUser(board.id)" class="action-btn"><span><img src="assets/images/delete-icon.png"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right bottom-paging">
                            <div class="paging_bootstrap pagination">
                                <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
