<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>
    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Edit Partner</h1>
                </div>
                <div class="panel-body">
                    <form  [formGroup]="form" (ngSubmit)="updateUser(form.value)" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="add-course-form newsletter-template-form">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Name <sup>*</sup></label>
                                        <input type="text" id="name"  formControlName="name" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Mobile No. <sup>*</sup></label>
                                        <input type="text" id="phone"  formControlName="phone" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Password <sup>*</sup></label>
                                        <input type="password" id="password"  formControlName="password" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-12 form-group">
                                      <label>Confirm Password <sup>*</sup></label>
                                      <input type="password" id="confirm_password"  formControlName="confirm_password" class="form-control">
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="add-course-form newsletter-template-form">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Email Address <sup>*</sup></label>
                                        <input type="text" id="email"  formControlName="email" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Address <sup>*</sup></label>
                                        <input type="text" id="address"  formControlName="address" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>Zipcode <sup>*</sup></label>
                                        <input type="text" id="zipcode"  formControlName="zipcode" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <a routerLink="/partners" class="btn btn-info">Back</a>
                            <button type="submit" id="submitBtn" class="btn btn-submit" style="margin: 0px 10px;">Submit</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
