@media (max-width: 767px){
    .filter_input {
        width: 47%;
        margin-right: 10px;
        margin-bottom: 9px;
    }
    .back-search .btn-info {
        padding: 9px 15px 8px;
        margin-bottom: 10px;
    }
}
.success_tag{color: #fff;
    background: #093;
    padding: 3px 5px;
    border-radius: 4px; cursor: pointer;}
    
    .pending_tag{color: #fff;
    background:blue;
    padding: 3px 5px;
    border-radius: 4px; cursor: pointer;}
    
    .cancel_tag{color: #fff;
    background:red;
    padding: 3px 5px;
    border-radius: 4px; cursor: pointer;} 
    
    .running_tag{color: #fff;
        background:orange;
        padding: 3px 5px;
        border-radius: 4px; cursor: pointer;} 