<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>
    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Change Password</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="add-course-form newsletter-template-form">
                                <form  [formGroup]="form" (ngSubmit)="updatePassword(form.value)">
                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <label>Current Password <sup>*</sup></label>
                                            <input type="text" formControlName="current_password" id="current_password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <label>New Password <sup>*</sup></label>
                                            <input type="text" formControlName="password" id="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <label>Confirm Password <sup>*</sup></label>
                                            <input type="text" formControlName="confirm_password" id="confirm_password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <button type="submit" id="updateBtn" class="btn btn-submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>