<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>
    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Add New Content</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="add-course-form newsletter-template-form">
                                <form  [formGroup]="form" (ngSubmit)="createContent(form.value)" >
                                  <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Class <sup>*</sup></label>
                                        <select class="form-control" formControlName="class_id">
                                          <option value="">Select Class</option>
                                          <option *ngFor="let class of classes" value="{{ class.id }}">{{ class.title }}</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6 form-group">
                                      <label>Subject <sup>*</sup></label>
                                      <select class="form-control" formControlName="subject_id" >
                                        <option value="">Select Subject</option>
                                        <option *ngFor="let subject of subjects" value="{{ subject.id }}">{{ subject.title }}</option>
                                      </select>
                                  </div>
                                </div>
                                  <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Title</label>
                                        <input type="text" id="title"  formControlName="title" class="form-control">
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Description</label>
                                        <textarea type="text" id="description"  formControlName="description" class="form-control" rows="10"></textarea>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-3 form-group">
                                        <label>Content File<sup>*</sup></label>
                                        <input type="file" id="document" class="form-control">
                                    </div>
                                  </div>

                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <a routerLink="/contents" class="btn btn-info">Back</a>
                                            <button type="submit" id="submitBtn" class="btn btn-submit" style="margin-left: 10px;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
