<app-header></app-header>

<main class="page-wrapper m-t-20">
    <app-sidebar></app-sidebar>
    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Edit Slider</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="add-course-form newsletter-template-form">
                              <form  [formGroup]="form" >
                                  <div class="row">
                                    <div class="col-sm-8 form-group">
                                      <label>Title <sup>*</sup></label>
                                      <input type="text" id="title" formControlName="title" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-8 form-group">
                                    <label>Document Description</label>
                                    <textarea id="description" class="form-control" formControlName="description"></textarea>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4 form-group">
                                  <label>Slider Image <sup>*</sup></label>
                                  <input type="file" id="document" class="form-control" accept="image/png, image/jpeg ">
                              </div>
                              </div>
                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <a routerLink="/sliders" class="btn btn-info">Back</a>
                                            <a id="submitBtn" (click)="updateSlider()" style="margin-left:10px;" class="btn btn-info">Submit</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
