<app-header></app-header>>

<main class="page-wrapper">
    <app-sidebar></app-sidebar>
    <section class="inner-wrapper">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Edit Teacher Package</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="add-course-form newsletter-template-form">
                                <form  [formGroup]="form" (ngSubmit)="updatePackage(form.value)" >
                                  <div class="row">
                                      <div class="col-sm-8 form-group">
                                        <label>Title <sup>*</sup></label>
                                        <input type="text" id="title"  formControlName="title" class="form-control">
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-8 form-group">
                                      <label>Package Duration <sup>*</sup></label>
                                      <select type="text" id="duration"  formControlName="duration" class="form-control">
                                          <option value="">Select Package Duration</option>
                                          <option value="1 month">1 month</option>
                                          <option value="3 month">3 month</option>
                                          <option value="6 month">6 month</option>
                                          <option value="1 year">1 year</option>
                                      </select>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="col-sm-8 form-group">
                                      <label>Price <sup>*</sup></label>
                                      <input type="text" id="price"  formControlName="price" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-8 form-group">
                                    <label>Description</label>
                                    <textarea type="text" id="description"  formControlName="description" class="form-control"></textarea>
                                  </div>
                              </div>

                                    <div class="row">
                                        <div class="col-sm-10 form-group">
                                            <a routerLink="/teacher-packages" class="btn btn-info">Back</a>
                                            <button type="submit" id="submitBtn" class="btn btn-submit" style="margin-left: 10px;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
